body {
    padding: 0;
    margin: 0;
    background-color: #EDEDED;
}

.topbar{
    padding: 20px;
    margin: 10px;
    /*display: block;*/
}


header {
    background-color: white;
    width: 100%;
    
}
nav {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    height: 5%;
    width: 100%;
    position: fixed;
    padding: 14px 16px;
    padding-left: 40px;
    /*vertical-align: baseline;*/
    background-color:white;
}


.material-icons.md-48 {
    font-size: 36px;

}

.menu{
    align-items: center;
    width: 20%;
    display: flex;
    
}
.searchbar {

    width: 55%;
    /*justify-content: center;*/
    align-items: center;
    display: flex;
   
}
.searchbox {
    height: 36px;
    width: 100%;
    font-size: 23px;
    padding-left: 8px;
}

.searchicon {
    border: solid 1px black;
    background-color: lightgrey;
    border-radius: 0 10% 10% 0;
    height: 40px;
    width: 60px;


}
.signin {
    align-items: center;
    width: 25%;
    display: flex;
  
}

.signin button {
    float: right;
    position: relative;
    width: 100px;
    left: 80px;
    height: 40px;
    background-color: #167AC6;
    color: white;
    padding-left: 10px;
    border-radius: 10%;
    font-size: 16px;
}


.logo {
    height:70px;
} 

/* this is main content style */

container{
    height: auto;
    width: 100%;
    display: flex;
}
main{   
    width:66%;  
    display: flex;
    flex-direction: column;  
}
.vid{
    width: 100%;
    height:auto;
}
.vid-title{
    margin-top:10px;
    margin-left: 20px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
}
.channel-details{
    display:flex;
    margin-left: 20px;
    flex-direction: row;
   /* align-items: center; */   
    /*height:auto;*/
    width:100%;
}
.channel-name{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:20px;
    margin-bottom:4px;
}
.channel-name h4{
    margin:0;
    height:50%
}
.channel-name button{
    height:50%;  
    width:100px;
    background-color: red;  
    color: #fff;
    border-radius: 10%;
    margin-top:0;
}
/*.channel-img{
    
}*/
.channel-views{    
    /*margin: 0 40px 0 auto;*/
    margin-right: 40px;
    margin-left: auto;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
}
/*
.channel-views .views {
    height: 25%;
} */

.img-title{
    margin-left:20px;
}


hr {
    margin:20px; 
}

.page-interact {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
}

.page-interact span {
    padding-right: 20px;
    padding-left: 10px;
}

.page-interact div{
    display:flex;
    align-content: center;
}